.footer {
    background: #353535;
    padding: 3vw;
    &__logo {
        filter: invert(1);
        height: 4vh;
    }
    &__list {
        list-style: none;
    }
    &__listitem {
        margin: 2vh 0;
    }
    &__utensilsIcon,
    &__handsIcon{
        margin-right: 1vw;
    }
    a {
        text-decoration: none;
        color: #f0ecec;
    }
}