.footer {
    background: #353535;
    padding: 5vw;
    &__logo {
        filter: invert(1);
        height: 1.3em;
    }
    &__list {
        list-style: none;
    }
    &__listitem {
        margin: 2vh 0;
    }
    &__utensilsIcon,
    &__handsIcon{
        margin-right: 1vw;
    }
    a {
        text-decoration: none;
        color: #f0ecec;
        &:hover {
			color: $color-primary;
		}
    }
}