.header {
    &__topcenter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        width: 100%; 
        @include box-shadow;
    }
    &__logo {
        height: 6vh;
    }
    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-bg;
        height: 5vw;
    }
}