.headerHomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%; 
    background: $color-bg;
    &__logo {
        height: 6vh;
    }
    &__location {
        background: darken($color-bg, 4%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vw;
        padding-top: 0.4em;
        padding-bottom: 0.3em;
        box-shadow: inset 0px 5px 5px 2px darken($color-bs, 13%);
        span.location__place {
            margin-left: 3vw;
        }
    }
}