.headertopcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%; 
    background: $color-bg;
    &__logo {
        height: 6vh;
    }
    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vw;
        padding-bottom: 0.5vh;
        span.location__place {
            margin-left: 3vw;
        }
    }
}