.reservez { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-bg;
    &__heading {
        padding: 2vw;
    }
    &__byline {
        padding-bottom: 3vh;
        @include weightlight;
    }
    &__btn {
        @include btn;
    }
}

.howtouse {
    &__container {
        padding: 3vw 0 2vw 0;
    }
    &__heading {
        padding-bottom: 2vh;
        padding-left: 2vw;
    }
    &__allsteps {
        list-style-type: none;
        padding: 0vh 100px;
    }
    &__step {
        background: $color-bg;
        margin: 2vh 0vw;
        padding: 3vh 1.5vw;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        @include box-shadow;
    }
    &__stepNumber {
        @include numberStyle;
    }
    &__mobileicon {
        padding: 0 39px 0 30px;
        opacity: 0.5;
    }
    &__listicon {
        padding: 0 36px 0 13px;
        opacity: 0.5;
    }
    &__storeicon {
        padding: 0px 34px 0 16px;
        opacity: 0.5;
    }
}


.restaurants {
    &__container {
        background: $color-bg;
        padding: 1vh 3vw;
    }
    &__heading {
        padding-top: 3vh;
    }
    &__cards {
        background: white;
        margin: 5vh 0vw;
        border-radius: 13px;
        @include box-shadow;
    }
    img {
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        width: 100%;
        height: 40vw;
    }
}

.cards {
    text-decoration: none;
    color: black;
    &__pic {
        height: 30vh;
        width: 60vw;
        object-fit: cover;
    }
    &__caption {
        padding: 1vh 2vw 1.5vh;
    }
    &__heading {
        padding-bottom: 1vh;
    }
    &__location {
        @include weightlight;
    }
}