@keyframes pop-up {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(1); }
  50% {
    opacity: 0.5;
    transform: translateY(0) scale(1.05); }
  80%,
    100% {
    opacity: 1;
    transform: scale(1); } }
.dishes {
  animation: ease-in-out pop-up 400ms both; }
  .dishes__heading {
    animation: ease-in-out pop-up 400ms 200ms both; }
  .dishes__container {
    animation: ease-in-out pop-up 400ms 400ms both; }
    .dishes__container:nth-child(2) {
      animation-delay: 200ms; }
    .dishes__container:nth-child(3) {
      animation-delay: 400ms; }
    .dishes__container:nth-child(4) {
      animation-delay: 600ms; }

@keyframes slide {
  0% {
    transform: translateX(60px); }
  100% {
    transform: translateX(0); } }
.dishes__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 2.4em; }
  .dishes__container .dishes__bottomPriceCheckbox {
    display: flex;
    justify-content: flex-end;
    transform: translateX(60px);
    position: relative;
    bottom: 1.2em; }
  .dishes__container:hover .dishes__bottomPriceCheckbox {
    animation: slide 0.5s ease-in-out both; }
  .dishes__container .checkicon {
    display: inline-block;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    bottom: 0.2em;
    right: 0.05em; }
  .dishes__container:hover .checkicon {
    transform: rotate(-1turn);
    transition: 0.8s;
    transition-duration: 380.36323232964554ms;
    transition-delay: 194.2940588244631ms; }
  .dishes__container .dishes__bottomCheckbox {
    position: relative;
    left: 1.2em;
    bottom: 2.5em;
    padding: 33px 20px 21px 20px;
    background-color: #99E2D0; }
  .dishes__container:hover .dishes__bottomCheckbox {
    animation: slide 0.5s ease-in-out both; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

.menu__heading {
  font-family: "Shrikhand", sans-serif; }

.dishes__heading {
  font-weight: 100; }
.dishes__name {
  font-weight: 500; }

.headerHomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  background: #ededed; }
  .headerHomePage__logo {
    height: 6vh; }
  .headerHomePage__location {
    background: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    padding-top: 0.4em;
    padding-bottom: 0.3em;
    box-shadow: inset 0px 5px 5px 0px #cbcaca; }
    .headerHomePage__location span.location__place {
      margin-left: 3vw; }

.reservez {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ededed; }
  .reservez__heading {
    padding: 2vw; }
  .reservez__byline {
    padding-bottom: 3vh;
    font-weight: 100; }
  .reservez__btn {
    z-index: 0;
    font-size: 2.2vw;
    font-weight: 500;
    margin: 2vh 0vw;
    padding: 2vh 4vw;
    border-radius: 50px;
    border: none;
    color: #f8f5f5;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    cursor: pointer;
    box-shadow: 0px 3px 6px 2px #bfbdbd;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms; }
    .reservez__btn:hover {
      background: linear-gradient(0deg, #a16be0, #ff93e1);
      box-shadow: 0px 3px 6px 2px #a6a3a3;
      transform: scale(1.1); }

.howtouse__container {
  padding: 3vw 0 2vw 0; }
.howtouse__heading {
  padding-bottom: 2vh;
  padding-left: 3vw; }
.howtouse__allsteps {
  list-style-type: none;
  padding: 0vh 100px; }
.howtouse__step {
  background: #ededed;
  margin: 3vh 0vw;
  padding: 3vh 1.5vw;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px 2px #d8d7d7; }
  .howtouse__step:hover {
    background-color: #e4d5f6;
    box-shadow: 0px 5px 10px 2px #a6a3a3; }
    .howtouse__step:hover i {
      opacity: 1;
      color: #9356DC; }
.howtouse__stepNumber {
  position: absolute;
  left: 89px;
  background: #9356DC;
  border-radius: 50%;
  color: #f8f5f5;
  font-size: 0.9em;
  padding: 3.4px 8px 3px 8px; }
.howtouse__mobileicon {
  position: absolute;
  left: 25vw;
  opacity: 0.5;
  font-size: 1.5em; }
.howtouse__listicon {
  position: absolute;
  left: 24.6vw;
  opacity: 0.5;
  font-size: 1.3em; }
.howtouse__storeicon {
  position: absolute;
  left: 24.4vw;
  opacity: 0.5;
  font-size: 1.3em; }

.restaurants__container {
  background: #ededed;
  padding: 1vh 3vw; }
.restaurants__heading {
  padding-top: 3vh; }
.restaurants__cards {
  background: white;
  margin: 5vh 0vw;
  border-radius: 13px;
  box-shadow: 0px 5px 10px 2px #d8d7d7; }
.restaurants img {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  width: 100%;
  height: 40vw; }

.cards {
  text-decoration: none;
  color: black; }
  .cards__pic {
    height: 30vh;
    width: 60vw;
    object-fit: cover; }
  .cards__footercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .cards__caption {
    padding: 1vh 2vw 1.5vh; }
  .cards__heading {
    padding-bottom: 1vh; }
  .cards__location {
    font-weight: 100; }
  .cards__tag {
    position: absolute;
    right: 5%;
    margin-top: 2%;
    background-color: #99E2D0;
    color: #2fa487;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500; }
  .cards__emptyheartbtn {
    position: relative;
    font-size: 1.83em; }
    .cards__emptyheartbtn:hover {
      opacity: 0; }
  .cards__fullheartbtn {
    opacity: 0;
    font-size: 1.85em;
    position: relative;
    right: 1.14em;
    background: linear-gradient(45deg, #FF79DA, #9356DC);
    cursor: pointer;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    .cards__fullheartbtn:hover {
      transition: 400ms;
      opacity: 1; }

.footer {
  background: #353535;
  padding: 3vw; }
  .footer__logo {
    filter: invert(1);
    height: 4vh; }
  .footer__list {
    list-style: none; }
  .footer__listitem {
    margin: 2vh 0; }
  .footer__utensilsIcon, .footer__handsIcon {
    margin-right: 1vw; }
  .footer a {
    text-decoration: none;
    color: #f0ecec; }
    .footer a:hover {
      color: #9356DC; }

.headerMenuPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%; }
  .headerMenuPage__arrow {
    font-size: 1.4em;
    position: absolute;
    left: 10vw;
    top: 19px;
    color: black; }
  .headerMenuPage__logo {
    height: 6vh; }

.menu__pic {
  height: 50vh;
  width: 100%;
  object-fit: cover; }
.menu__container {
  padding: 4vh 5vw;
  background: #ededed;
  border-radius: 30px 30px 0 0;
  position: relative;
  margin-top: -5vw; }
.menu__heading {
  display: flex;
  align-items: center;
  font-size: 4vw; }
.menu__emptyheartbtn {
  position: relative;
  left: 10em; }
  .menu__emptyheartbtn:hover {
    opacity: 0; }
.menu__fullheartbtn {
  position: relative;
  left: 8.8em;
  opacity: 0;
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  .menu__fullheartbtn:hover {
    transition: 400ms;
    opacity: 1; }

.dishes__container {
  background: white;
  margin: 3vh 0vw;
  padding: 1em 1em;
  border-radius: 15px;
  box-shadow: 0px 3px 6px 2px #d5d4d4;
  cursor: pointer; }
.dishes__heading {
  font-size: 3vh;
  padding: 2vh 0vw 1.5vh 0vw;
  border-bottom: 3px solid #99E2D0;
  width: 2.4em; }
.dishes__bottomDescription {
  font-weight: 100; }
.dishes__bottomPrice {
  font-weight: 500; }

.order {
  display: flex;
  justify-content: center; }
  .order__btn {
    z-index: 0;
    font-size: 2.2vw;
    font-weight: 500;
    margin: 2vh 0vw;
    padding: 2vh 4vw;
    border-radius: 50px;
    border: none;
    color: #f8f5f5;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    cursor: pointer;
    box-shadow: 0px 3px 6px 2px #bfbdbd;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms; }
    .order__btn:hover {
      background: linear-gradient(0deg, #a16be0, #ff93e1);
      box-shadow: 0px 3px 6px 2px #a6a3a3;
      transform: scale(1.1); }

/*# sourceMappingURL=style.css.map */
