// -----------------------  //
//    /* VARIABLES */       //
//  Dedicated to variables  //
// -----------------------  //


/* --- COLOR VARIABLES --- */ 

/* Main colors */ 

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/* Button colors */

$color-btntxt: rgb(248, 245, 245);

/* Icon colors */

$color-checkicon: #FFF;
$color-icon: rgb(139, 138, 138);

/* Background / Boxshadow colors */

$color-bg: #f4f4f4;
$color-bs: #d8d7d7;



/* --- ANIMATION VARIABLES --- */ 

/* Animation duration */

$animation-ms: 400ms;

/* Animation delay */

$animation-delay: 100ms;