.headerMenuPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%; 
    &__arrow {
        position: relative;
        right: 23vw;
        color: black;
    }
    &__logo {
        height: 6vh;
    }
}

.menu {
    &__pic {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }
    &__container {
        padding: 4vh 5vw;
        background: $color-bg;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        position: relative;
        bottom: 8vw;
    }
    &__heading {
        display: flex;
        align-items: center;
        font-size: 5vw;
    }
    &__heartbtn {
        position: absolute;
        left: 90vw;
    }
}

.dishes {
    &__container {
        background: white;
        margin: 2vh 0vw;
        padding: 2vh 2vw;
        border-radius: 15px;
    }
    &__heading {
        font-size: 3vh;
        padding: 2vh 0vw;
        @include bottomBorder;
    }
}

.dishesBottom {
    display: flex;
    &__description {
        @include weightlight;
    }
    &__price {
        position: absolute;
        left: 87vw;
    }
}

.order {
    display: flex;
    justify-content: center;
    &__btn {
        @include btn;
    }
}