.headerMenuPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%; 
    &__arrow {
        font-size: 1.4em;
        position: absolute;
        left: 9vw;
        margin-top: -0.5em;
        color: black;
    }
    &__logo {
        height: 4.5vh;
    }
}

.menu {
    &__pic {
        max-height: 50vw;
        width: 100%;
        object-fit: cover;
    }
    &__container {
        padding: 4vh 5vw;
        background: $color-bg;
        border-radius: 43px 43px 0 0;
        position: relative;
        margin-top: -5vw;
    }
    &__heading {
        display: flex;
        align-items: center;
        font-size: 4vw;
        margin-bottom: 1em;
    }
    &__title {
        font-size: 1.5em;
    }
    &__btn {
        font-size: 1.3em;
    }
    &__emptyheartbtn {
        position: relative;
        left: 4.5em;
        &:hover {
            opacity: 0;
        }
    }
    &__fullheartbtn {
        position: relative;
        left: 3.3em;
        opacity: 0;
        @include gradientcolor;
        cursor: pointer;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $color-tertiary;

        &:hover {
            transition: 400ms;
            opacity: 1;
            animation: bump-animation 400ms ease-in-out forwards;
        }
    }
}

.dishes {
    &__container {
        background: white;
        margin: 3vh 0vw;
        padding: 1em 1em;
        border-radius: 15px;
        box-shadow: 0px 3px 6px 2px darken($color-bs, 1%);
        cursor:pointer;
    }
    &__heading {
        font-size: 3vh;
        padding: 2vh 0vw 1.5vh 0vw;
        @include bottomBorder;
    }
    &__bottomDescription {
        @include weightlight;
        text-overflow: ellipsis;
    }
    &__bottomPrice {
        @include weightmiddle;
    }
}

.order {
    display: flex;
    justify-content: center;
    &__btn {
        @include btn;
    }
}