body {
    font-family: "Roboto", sans-serif;
}

.menu {
    &__heading {
        font-family: "Shrikhand", sans-serif;
    }
}

.dishes {
    &__heading {
        @include weightlight;
    }
    &__name {
        @include weightmiddle;
    }
    &__container {
        & .checkicon {
            font-weight: bold;
            font-size: 22px;
        }
    }
}