// -------------------- //
//      /* TYPO */      //
//  Dedicated to font   //
// -------------------- //

/* --- GLOBAL --- */ 

/* Roboto font applied to all pages */
body {
    font-family: "Roboto", sans-serif;
}

/* --- HEADER --- */ 

.headerAllPages {
    &__location {
        font-size: 1.4em;
        input {
            font-size: 0.8em;
        }
    }
}


/* --- HOMEPAGE --- */ 

.reservez { 
    @media screen and (max-width: 342px) {
        font-size: 0.9em;
    }
    @media screen and (min-width: 1000px) {
        font-size: 1.3em;
    }
    &__byline {
        font-size: 1.2em;
        @include weightlight;
    }
}

.howtouse {
    &__heading {
        @media screen and (min-width: 1000px) {
            font-size: 1.7em;
        }
    }
    &__step {
        @media screen and (min-width: 1200px) {
            font-size: 1.2em;
        }
    }
    &__mobileicon {
        font-size: 2em;
        @media screen and (max-width: 580px) {
            font-size: 6.4vw;
        }
    }
    &__listicon {
        font-size: 1.8em;
        @media screen and (max-width: 580px) {
            font-size: 5.8vw;
        }
    }
    &__storeicon {
        font-size: 1.8em;
        @media screen and (max-width: 580px) {
            font-size: 5.8vw;
        }
    }
}

.restaurants {
    &__heading {
        @media screen and (min-width: 1000px) {
            font-size: 1.7em;
        }
    }
}

.cards {
    &__location {
        @include weightlight;
    }
    &__tag {
        font-size: 1.4em;
        @include weightmiddle;
        @media screen and (min-width: 1000px) {
            font-size: 1.6vw;
        }
    }
}

/* --- MENU PAGE --- */

.headerMenuPage {
    &__arrow {
        font-size: 1.4em;
        color: black;
    }
}

.menu {
    &__heading {
        font-family: "Shrikhand", sans-serif;
        font-size: 4vw;
    }
    &__title {
        font-size: 1.6em;
        @media screen and (min-width: 1400px) {
            font-size: 1.2em;
        }
    }
    &__btn {
        font-size: 1.3em;
        @media screen and (min-width: 1400px) {
            font-size: 0.8em;
        }
    } 
}

.dishes {
    &__heading {
        font-size: 2em;
        @include weightlight;
        @media screen and (max-width: 550px) {
            font-size: 1.4em;
        }
    }
    &__name {
        @include weightmiddle;
    }
    &__container {
        & .checkicon {
            @include weightlarge;
            font-size: 22px;
        }
    }
    &__bottomDescription {
        @include weightlight;
    }
    &__bottomPrice {
        @include weightmiddle;
    }
}