@mixin weightlight {
    font-weight: 100;
}

@mixin weightmiddle {
    font-weight: 500;
}

@mixin weightlarge {
    font-weight: 800;
}

@mixin numberStyle {
    position: absolute;
    left: 89px;
    background: $color-primary;
    border-radius: 50%;
    color: $color-btntxt;
    font-size: 0.9em;
    padding: 3.6px 8px 3.4px 7.9px;
}

@mixin box-shadow {
    box-shadow: 0px 5px 10px 2px $color-bs;
    }

@mixin btn {
    font-size: 2.2vw;
    font-weight: 600;
    margin: 2vh 0vw;
    padding: 2vh 8vw;
    border-radius: 50px;
    border: none;
    color: $color-btntxt;
    background: linear-gradient(0deg, $color-primary, $color-secondary);
    cursor: pointer;
}

@mixin bottomBorder {
    border-bottom: 3px solid $color-tertiary;
    width: 2.4em;
}