@mixin weightlight {
    font-weight: 100;
}

@mixin weightmiddle {
    font-weight: 500;
}

@mixin weightlarge {
    font-weight: 800;
}

@mixin numberstyle {
    position: absolute;
    left: 2vw;
    background: $color-primary;
    border-radius: 50%;
    color: $color-btntxt;
    padding: 0vh 6px;
}

@mixin box-shadow {
    box-shadow: 2px 4px 20px $color-bs;
    }

@mixin border($color:$color-secondary) {
    border: .1rem solid $color;
}

@mixin btn {
    margin: 2vh 0vw;
    padding: 2vh 8vw;
    @include border;
    border-radius: 50px;
    color: $color-btntxt;
    background: $color-secondary;
    cursor: pointer;
    border-radius: 50px;
    font-size: 3;
}