$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-btntxt: rgb(248, 245, 245);
$color-icon: rgb(139, 138, 138);

$color-bg: #ededed;
$color-bs: #d8d7d7;
$color-checkicon: #FFF;

$animation-ms: 400ms;
$animation-delay: 100ms;