// ------------------------  //
//      /* HEADER */         //
// Dedicated to header style //
// ------------------------  //

/* --- SAME HEADER FOR ALL PAGES --- */

.headerAllPages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%; 
    @media screen and (min-width: 1500px) {
        height: 120px;
    }
    &__logo {
        height: 4.5vh;
    }
    &__location {
        background: darken($color-bg, 4%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;
        padding-top: 0.4em;
        padding-bottom: 0.3em;
        box-shadow: inset 0px 5px 5px 0px darken($color-bs, 5%);
        input {
            margin-left: 1.4em;
            height: 1.3em;
            padding: 0.5em 0.5em 0.5em 1em;
            max-width: 10em;
            border-radius: 13px;
            border: none;
            outline: none;
            &::placeholder {
                color:black;
            }
        }
    }
    /* Searchbar not displayed on menu page*/
    &__menulocation {
        display: none;
    }
}