//  --------------------  //
//  /* HOMEPAGE MENU */   //
// Dedicated to HP style  //
//  --------------------  //


.reservez { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: $color-bg;
    padding: 2em 1em;
    &__heading {
        padding: 2vw;
    }
    &__byline {
        padding-bottom: 3vh;
    }
    &__btn {
        @include btn;
    }
}

.howtouse {
    &__container {
        padding: 4vw 0 3vw 0;
    }
    &__heading {
        padding-bottom: 2vh;
        padding-left: 5vw;
        @media screen and (min-width: 1000px) {
            padding-left: 2vw;
        }
    }
    &__allsteps {
        list-style-type: none;
        padding: 0vh 100px;
        @media screen and (min-width: 1000px) {
            display: flex;
            justify-content: space-between;
            padding: 0vh 50px;
        }
        @media screen and (max-width: 580px) {
            padding: 0vh 22px;
        }
        @media screen and (min-width: 1300px) {
            justify-content: space-around;
        }
    }
    &__step {
        background: $color-bg;
        margin: 3vh 1vw;
        padding: 3vh 1.5vw;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include box-shadow;
        @media screen and (min-width: 1000px) {
            padding: 3vh 2vw 3vh 3vw;
        }
        &:hover {
			background-color: lighten($color-primary, 30%);
            box-shadow: 0px 5px 10px 2px darken($color-bs, 20%);
            i {
                opacity: 1;
                color: $color-primary;
            }
		}
    }
    &__stepNumber {
        @include numberStyle;
    }
    &__mobileicon {
        position: absolute;
        left: 25vw;
        opacity: 0.5;
        @media screen and (min-width: 1000px) {
            position: relative;
            left: -2.35vw;
        }
        @media screen and (max-width: 580px) {
            left: 17vw;
        }
    }
    &__listicon {
        position: absolute;
        left: 24.6vw;
        opacity: 0.5;
        @media screen and (min-width: 1000px) {
            position: relative;
            left: -2.35vw;
        }
        @media screen and (max-width: 580px) {
            left: 16.6vw;
        }
    }
    &__storeicon {
        position: absolute;
        left: 24.4vw;
        opacity: 0.5;
        @media screen and (min-width: 1000px) {
            position: relative;
            left: -2.35vw;
        }
        @media screen and (max-width: 580px) {
            left: 16.4vw;
        }
    }
    &__instructions {
        @media screen and (max-width: 342px) {
            position: relative;
            left: 20px;
        }
    }
}


.restaurants {
    &__container {
        background: $color-bg;
        padding: 1vh 5vw;
        @media screen and (min-width: 1000px) {
            padding: 0vh 0vw 1.5vh;
        }
    }
    &__heading {
        padding-top: 3vh;
        @media screen and (min-width: 1000px) {
            margin-left: 2vw;
            margin-bottom: 2vw;
        }
    }
    &__display {
        @media screen and (min-width: 1000px) {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            justify-items: center;
        }
    }
    &__cards {
        background: white;
        margin: 5vh 0vw;
        border-radius: 13px;
        @include box-shadow;
        @media screen and (min-width: 1000px) {
            margin: 2vh 2vw;
        }
    }
    img {
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        width: 100%;
        height: 40vw;
        @media screen and (min-width: 1000px) {
            height: 22vw;
        }
    }
}

.cards {
    text-decoration: none;
    color: black;
    &__pic {
        height: 30vh;
        width: 60vw;
        object-fit: cover;
    }
    &__footercontainer {
        height: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__caption {
        padding: 1vh 2vw 1.5vh;
        @media screen and (min-width: 1000px) {
            padding: 0.5vh 1vw 1vh;
        }
    }
    &__heading {
        padding-bottom: 1vh;
    }
    &__tag {
        position: absolute;
        right: 7%;
        margin-top: 2%;
        @include cardTag;
        @media screen and (min-width: 1000px) {
            right: unset;
            margin-top: 1.2vw;
            margin-left: 36%;
            padding: 0.7vh 1vw;
        }
    }
}