// -----------------------  //
//    /* MENU PAGES */      //
// Dedicated to pages style //
// -----------------------  //


.headerAllPages {
    &__arrow {
        position: absolute;
        left: 9vw;
        margin-top: -0.5em;
        color: black;
    }
}

.menu {
    &__pic {
        max-height: 40vw;
        width: 100%;
        object-fit: cover;
    }
    &__container {
        padding: 4vh 5vw;
        background: $color-bg;
        border-radius: 43px 43px 0 0;
        position: relative;
        margin-top: -45px;
        @media screen and (min-width: 550px) {
            padding: 4vh 10vw;
        }
        @media screen and (min-width: 1400px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 4vh 1vw;
        }
    }
    &__heading {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }
    &__title {
        @media screen and (min-width: 1400px) {
            padding-left: 12vw;
        }
    }
    &__btn {
        @media screen and (min-width: 1400px) {
            margin-right: 17vw;
        }
    } 
}

.dishes {
    @media screen and (min-width: 1400px) {
        width: 30vw;
    }
    &__container {
        background: white;
        margin: 3vh 0vw;
        padding: 1em 1em;
        border-radius: 15px;
        box-shadow: 0px 3px 6px 2px darken($color-bs, 1%);
        cursor:pointer;
        overflow-y: hidden;
    }
    &__heading {
        padding: 2vh 0vw 1.5vh 0vw;
        @include bottomBorder;
        @media screen and (min-width: 1400px) {
            margin-left: 0.5vw;
        }
    }
    &__name {
        display: inline-block;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 93%;
    }
    &__bottom {
        height: 1em;
    }
    &__bottomDescription {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 87%;
        @media screen and (max-width: 256px) {
            width: 80%;
        }
    }
}

.order {
    display: flex;
    justify-content: center;
    &__btn {
        @include btn;
    }
    @media screen and (min-width: 1400px) {
        position: relative;
        right: 32.5vw;
    }
}